[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openaiauth = "*"
uvicorn = "*"
asgiref = "*"
undetected_chromedriver = "*"
flask = "*"
tls_client = "*"
pyvirtualdisplay = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3"

[scripts]
proxy = "python proxy.py"
