[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openaiauth = "*"
uvicorn = "*"
asgiref = "*"
undetected_chromedriver = "*"

[dev-packages]

[requires]
python_version = "3.10"
